<div>this is the header with links to other places: 
    <LinkTo @route="runs" class="button"> Runs </LinkTo>
    <LinkTo @route="walks" class="button"> Walks </LinkTo>
    <LinkTo @route="swims" class="button"> Swims </LinkTo>
</div>
{{yield}}