{{page-title "Stretch-your-run"}}
<h1><LinkTo @route="index">Stretch GPX - fit your run to your truth</LinkTo></h1>
{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<Navbar />
{{outlet}}
<div>And this is the footer: contact etc </div>